.features-section {

  .features-content {
    flex-direction: column;
    align-items: center;

    .features-section-titles {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      color: $color-1;
    }
  }
}
