.register-section {
  padding-block: 4rem;
  align-items: center;
  justify-content: center;

  .register-section-content {
    border: solid 1px $color-1;
    border-radius: 1.5rem;
    padding: 3rem 2.25rem;
    gap: 3rem;

    .register-section-titles {
      align-items: center;
      gap: 2rem;
    }

    .register-section-form {
      .form {
        gap: 1rem;

        .form-input {
          padding: 1rem;
          border-radius: 0.75rem;
        }
      }
    }

    .login-text {
      a {
        color: $color-1;
        text-decoration: underline;
      }
    }
  }
}

.register-section-content,
.register-section-titles,
.register-section-form .form {
  flex-direction: column;
}